.fitcontent {
    width: fit-content;
}

.w-40 {
    width: 48%;
}

.yy {
    background-color: #b5b51552 !important;
}

.grilla {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: flex-start;
}

.lista {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: flex-start;
}