.fitcontent{
width: fit-content;
}
.w-40{
    width: 48%; 
    
}


.grilla {
    height: fit-content;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}
.lista {
    height: fit-content;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}